<template>
  <div class="contenedor" :style="{ top: topPos + 'px' }">
    <div class="row">
      <div class="col-md-10 no-pad">
        <input class="input-cont no-pad" v-model="inputhash" :readonly="activado" @keyup="checkAccess()" type="text" />
      </div>
      <div class="col-md-2 no-pad">
        <img v-if="!activado" src="../assets/page3/desactivado.png"/>
        <img v-else style="margin-top: -1px;" src="../assets/page3/activado.png"/>
      </div>
    </div>
  </div>
</template>

<script>
import Utils from './utils';

export default {
  name: 'contenedor',
  props: ['hash', 'topPos'],
  data () {
    return {
      inputhash: '',
      activado: false
    }
  },
  methods: {
    checkAccess: function() {
      console.log("check access");
      console.log(this.activado);
      if (this.activado) {
        return;
      }

      if (Utils.methods.hash(this.inputhash.toString().toLowerCase()) == this.hash) {
        this.$emit('activado');
        this.activado = !this.activado;
      }
    },
  }
}
</script>

<style>
  .contenedor {
    position: absolute;
    left: 1234px;
    width: 400px;
    z-index: 1;
  }

  .input-cont {
    width: 100%;
    height: 31px;
  }

  .no-pad {
    padding:0;
  }

  input:read-only {
    background-color:antiquewhite;
  }

</style>
