<template>
  <div class="bg-login">
    <main role="main" class="container h-100">
      <div class="row justify-content-center">
        <div v-if="cantActivados >= 7" class="h-50 z-999">
          <img class="image-center last-panel" src="../assets/page3/recuadro-final.png" alt=""/>
          <p class="final-text">{{ finalSolution() }}</p>
        </div>
        <contenedor 
          v-for="(hash, index) in dinohashes" 
          :key="index" 
          :hash="hash"
          @activado="activateOne"
          :topPos="435 + (index * 56)">
        </contenedor>
        <div class="alertas">
          <img v-if="cantActivados < 7" class="image-center" src="../assets/page3/danger.gif" alt="DANGER"/>
          <img v-else class="image-center" src="../assets/page3/perimetrofinal.png" alt=""/>

        </div>
      </div>
    </main>
  </div>
</template>

<script>
import $ from "jquery";
import Contenedor from "./contenedor";
import Utils from './utils';

export default {
  name: "dinonet",
  components: {'contenedor': Contenedor},
  data: function(){
    return {
      dinohashes: [
        1425588737,
        742200349,
        1230719982,
        1708595923,
        -630689352,
        -479827462,
        -1513529404
      ],
      inputhash: new Array(7),
      cantActivados: 0
    }
  },
  methods: {
    checkAccess: function(index) {
      
      if (Utils.methods.hash(this.inputhash[index].toString().toLowerCase()) == this.dinohash[index]) {
        this.$router.push('/net');
      } else {
        this.showErrorDino = true;
      }
    },
    activateOne: function() {
      this.cantActivados++;
      console.log(this.cantActivados);
    },
    finalSolution: function() {
      return '9' + '0' + '1';
    }
  },
  mounted: function() {
  }
};
</script>

<style>
  .bg-login {
    background: url("../assets/page3/fondo.png");
    background-color: #a7a7a7;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 1px;
    height: 100vh;
  }

  .alertas {
    position: absolute;
    top: 90px;
    right: 198px;
    height: 417px;
    width: 700px;
  }

  .image-center {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .last-panel {
    padding-top: 50%;
  }

  .z-999 {
    z-index: 999;
  }

  .final-text {
    color: green;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    top: 478px;
    right: 900px;
  }

</style>
