<template>
  <div class="background-home">
    <main role="main" class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <img class="image-center1 shiny" v-on:click="goToLogin()" src="../assets/page1/logo.png"> 
          </div>
      </div>    
    </main>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: 'home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    goToLogin() {
      this.$router.push('/login');
    }
  }
}
</script>

<style>
  .background-home {
    background: url('../assets/page1/bghome.png');
    background-color: #000;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 1px;
    height: 100vh;
  }

  .image-center1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .image-center1:hover {
    cursor: pointer;
  }

</style>
