<template>
  <div class="bg-login">
    <main role="main" class="container h-100">
      <div class="row justify-content-center">
        <div class="col-12 text-center absolute-class">
          <input v-model="code" @keyup.enter="checkAccess()" type="text" />
        </div>
        <div class="col-md-3 offset-md-9 absolute-class">
          <button @click="checkAccess()" class="login-btn">ACCESS</button>
        </div>
        <div v-if="showErrorDino" class="col-12 text-center">
          <img class="image-center2" @click="hideDino()" src="../assets/page2/nono.png"> 
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import $ from "jquery";
import Utils from './utils';

export default {
  name: "login",
  data: function(){
    return {
      code: '',
      showErrorDino: false
    }
  },
  methods: {
    checkAccess: function() {
      //1519029504
      if (Utils.methods.hash(this.code.toString().toLowerCase()) == 1519029504) {
        console.log("navigate to page");
        this.$router.push('/net');
      } else {
        this.showErrorDino = true;
      }
    },
    hideDino: function() {
      this.showErrorDino = false;
    }
  }
};
</script>

<style>
.bg-login {
  background: url("../assets/page2/bg-login.jpg");
  background-color: #000;
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 1px;
  height: 100vh;
}

.image-center2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  z-index: 9999;
  cursor: pointer;
}

.absolute-class {
  position: absolute;
}

.absolute-class input {
  width: 570px;
}

.absolute-class.col-12 {
  left: 0px;
  top: 575px;
}

.absolute-class.col-md-3 {
  left: -295px;
  top: 620px;
}

.login-btn {
  box-shadow: inset -1px 26px 2px -1px #7a8eb9;
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}
.login-btn:hover {
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color: #5972a7;
}
.login-btn:active {
  position: relative;
  top: 1px;
}
</style>
