<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  created: function() {
    console.log('Perdido? Revisá el código HTML...');
  }
}
</script>

<style>
  html {
    height: 100%;
  }

  body {
      min-height: 100%;
  }
</style>
